/* BOTÓN HAMBURGUESA (ESCONDE EN DESKTOP) */
.menu-toggle {
  display: none; /* Oculto por defecto */
  font-size: 2rem; /* Tamaño del ícono hamburguesa */
  background: none; /* Sin fondo */
  border: none; /* Sin bordes */
  cursor: pointer; /* Manito al pasar el mouse */
  margin-right: 1rem; /* Espacio entre el borde derecho */
}

/* RESPONSIVE: MÓVILES */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Mostrar botón hamburguesa en móviles */
    color: #43db85;
  }
  .Menu_Horizontal {
    display: none; /* Ocultar menú horizontal por defecto */
    flex-direction: column; /* Mostrarlo en vertical al activarse */
    width: 100%;
    background-color: #7c49d4;
    position: absolute;
    top: 5rem; /* Debajo del menú fijo */
    left: 0;
  }
  .Menu_Horizontal.active {
    display: flex; /* Mostrar menú al activar la clase */
  }
  .Menu_Horizontal li {
    border-bottom: 1px solid #532424; /* Líneas separadoras */
  }
}
